
  
  .simple-keyboard-arrows {
    max-width: 1050px;
    color: black;
    font-size: 25px;    
    background-color: none;
    background: none;
  }
  
  .simple-keyboard-arrows-numpad {
    max-width: 1050px;
    color: black;
    font-size: 25px;    
    background-color: none;
    background: none;
  }