/* DialogDemo.css */

.dialog-demo .p-button {
    margin: 0 .5rem 0 0;
    min-width: 10rem;
}

.dialog-demo p {
    margin: 0;
    line-height: 1.5;
}

.dialog-demo .p-dialog .p-button {
    min-width: 6rem;
}
                 

.slack {
    background: linear-gradient(to left, var(--orange-400) 50%, var(--orange-500) 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    transition: background-position 0.5s ease-out;
    color: #fff;
    border-color: var(--orange-500);
}
.slack:hover {
    background-position: left bottom;
}
.slack i {
    background-color: var(--orange-500);
}
.slack:focus {
    box-shadow: 0 0 0 1px var(--orange-200);
}